{
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"printWidth": 80,
	"bracketSameLine": false,
	"arrowParens": "always",
	"jsxSingleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true
}
